<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated competition -->
      <package
            uri="platform:/plugin/TDT4250.project.mpdel/model/Competition.ecore"
            class="Competition.CompetitionPackage"
            genModel="model/competition.genmodel"/>
   </extension>

</plugin>
