<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated competition -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="competition.presentation.CompetitionModelWizardID"
            name="%_UI_CompetitionModelWizard_label"
            class="competition.presentation.CompetitionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CompetitionModelFile.gif">
         <description>%_UI_CompetitionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated competition -->
      <editor
            id="competition.presentation.CompetitionEditorID"
            name="%_UI_CompetitionEditor_label"
            icon="icons/full/obj16/CompetitionModelFile.gif"
            extensions="competition"
            class="competition.presentation.CompetitionEditor"
            contributorClass="competition.presentation.CompetitionActionBarContributor">
      </editor>
   </extension>

</plugin>
